{% extends 'base.html' %}

{% block title %}
    <title>Log In</title>
{% endblock %}

{% block content %}



    {% if next %}
        {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
        {% else %}
            <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}
    <section class="mt-6">
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div class="column is-half is-offset-one-quarter">

                <div class="field">
                    <label class="label">{{ form.username.label_tag }}</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Text input" name="{{ form.username.html_name }}">
                    </div>
                </div>

                <div class="field">
                    <label class="label">{{ form.password.label_tag }}</label>
                    <p class="control has-icons-left">
                        <input class="input" type="password" placeholder="Password" name="{{ form.password.html_name }}">
                        <span class="icon is-small is-left">
                            <i class="fas fa-lock"></i>
                        </span>
                    </p>
                </div>

                {% if form.errors %}
                    <p class="help is-danger">Your username and password didn't match. Please try again.</p>
                {% endif %}

                <div class="field is-grouped mt-4 is-flex is-align-items-center">
                    <div class="control">
                        <button type="submit" class="button is-link">Continue</button>
                        <input type="hidden" name="next" value="{{ next }}"/>
                    </div>

                    <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
                    &nbsp;
                    &nbsp;
                    <p><a href="{% url 'app:register' %}">Sign Up</a></p>

                </div>
            </div>
        </form>
    </section>

{% endblock %}