body{
	min-height: 100vh;
	overflow-x: hidden;
}

.flex {
	display: flex;
	width: 100vw;
	height: fit-content;
	justify-content: center;
	gap: 5rem;
}

.deck {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	justify-content: center;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

.card {
	background-color: #fff;
	border-radius: .5em;
	box-sizing: border-box;
	height: 15rem;
	margin: .5em;
	opacity: .5;
	padding: 1em;
	position: relative;
	transform: translateX(100vw) translateY(100vh) rotate(15deg);
	transition: all 1s ease-out;
	width: 15rem;
}

.card .content {
	opacity: 0;
	transition: all 2s ease-out;
}

.card.loaded {
	opacity: 1;
	transform: translateX(0) translateY(0) rotate(0);
}

.card.loaded:hover{
	transform: scale(1.2);
}

.card.loaded .content.loaded {
	opacity: 1;
}

.content > img{
	object-fit: contain;
	width: inherit;
	aspect-ratio: 1/1;
}