{% extends 'base.html' %}

{% block content %}
<section class="flex mt-6">
    <ul class="deck preload">
        <li class="card">
            <div class="content">
                <img src="../static/images/Jubilee_Party.png" alt="">
            </div>
        </li>
        <li class="card">
            <div class="content">
                <img src="../static/images/kanu.jpg" alt="">
            </div>
        </li>
        <li class="card">
            <div class="content">
                <img src="../static/images/NASA.png" alt="">
            </div>
        </li>
        <li class="card">
            <div class="content">
                <img src="../static/images/flag.gif" alt="">
            </div>
        </li>
    </ul>
</section>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        load();
    });
</script>
{% endblock content %}